<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>New item - 7</key>
	<string></string>
	<key>New item - 6</key>
	<string></string>
	<key>New item - 5</key>
	<string></string>
	<key>New item - 4</key>
	<string></string>
	<key>New item</key>
	<string>1231</string>
	<key>New item - 2</key>
	<array>
		<string>1231</string>
	</array>
	<key>New item - 3</key>
	<array/>
</dict>
</plist>
